body {
    background-color: ##f4e7d3;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.dark-body {
    background-color: #222831;
    color: #f9f9f9;
}

.dark-key-notes {
    background-color: #393e46;
}

.dark-ended {
    background-color: #393e46;
}

.dark-custom-accordion {
    background-color: #393e46;
    color: white;
}

h1 {
    font-family: "Roboto", sans-serif;
}

.brand-img {
    width: 50px;
    height: 50px;
}

header {
    margin: 50px 0;
}

hr {
    height: 2px;
    background-color: white;
    border: dotted black 5px;
    border-bottom: none;
    width: 6%;
    margin: 50px auto;
}

.key-notes {
    background-color: #d83a56;
}

.section-header {
    font-weight: 400;
    font-family: "roboto";
    padding-top: 20px;
}

.card-img-top {
    height: 250px;
}

.card-body a {
    text-decoration: none;
}

.ended {
    background-color: #d83a56;
}

.custom-accordion {
    background-color: #d83a56;
    color: white;
}

.accordion-button::after {
    border-radius: 25%;
    background-color: white;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: gray;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(247 247 247 / 25%);
}

.fab {
    margin: 0 20px;
}

.text-area-bg {
    background-color: #e8e8e8;
}